*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    padding: 2rem;
}

h2 {
    color: white;
    text-align: center;
    padding: 2rem;
}

h5 {
    color: white;
    text-align: center;
    padding: 1rem;
}



.img{
    width: calc((100% - 5rem) / 5);
    height: 25rem;
    margin: 1rem;
}
img{
    width: 100%;
    height: 100%;
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}



ul{
    display:  flex;
    align-items: center;
    justify-content: center;

}
li{
    width: calc((100% - 5rem) /5);
    margin: 1rem;
    list-style: none;
    color:  white;
}